$color-fondo-header: rgb(13, 25, 63);
$color-texto-header: white;
$color-fondo-footer: rgb(13, 25, 63);
$color-sombreado: rgba(0,0,0,0.75);
$color-linea-header-footer: rgb(212, 175, 55);
$color-seleccion-menu: rgb(212, 175, 55);

$personas: andrea, juan, maria;